@use '../shared';

.social {
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: shared.$color;
    @include shared.hoverable;
    @include shared.fillOnHover;
}