//font
$fontInter: 'Inter', sans-serif;
$fontMont: 'Montserrat', sans-serif;
$fz-h1: 48px;
$fz-h1-mobile: 36px;
$fz-h2: 18px;
$fz-text: 16px;
$fz-text-mobile: 14px;

// colors
$color: #E4E5EA;
$color-secondary: #656566;
$bcg: #0E1014;

$transitionTime: .2s;

// breakpoints
$mobile: 600px;
$tablet: 768px;
$tablet-big: 900px;
$desk-small: 1200px;

//gradients
$gradient-pink: linear-gradient(92deg, #FCB045 27.14%, #FF3F78 121.36%), #E4E5EA;
$gradient-red: linear-gradient(90deg, #FCB045 36.99%, #FD1D1D 100%);
$gradient-red2: linear-gradient(90deg, #FCB045 65.99%, #FD1D1D 130%);

%link {
    text-decoration: none;
    color: inherit;
    outline: none;

    &:active {
        color: #FCB045;
    }
}


@mixin textGradient ($gradient) {
    background: $gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-position: 200% 200%;
    background-size: 100% auto;
    animation: shine 3s ease-out infinite;
}

@mixin backdropFilter ($radix) {
    overflow: hidden;

    &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        filter: blur($radix);
    }
}

@mixin ball ($grad1, $grad2, $grad3, $grad4, $shadow) {
    background: radial-gradient(64% 64% at 27.25% 26.5%,
            $grad1 0%,
            $grad2 59.67%,
            $grad3 78.59%,
            $grad4 100%);
    box-shadow: 3px 6px 27px -10px $shadow;
    aspect-ratio: 1;
    border-radius: 50%;
    @include backdropFilter(2px);
}

@mixin hoverable () {
    transition: opacity $transitionTime;

    &:hover {
        opacity: .7;
    }
}

@mixin underlineOnHover() {
    text-decoration: none;

    &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: $color;
        left: 50%;
        bottom: -2px;
        transform: translateX(-50%) scaleX(0);
        will-change: transform;
        transition: transform $transitionTime;
    }

    &:hover:after {
        transform: translateX(-50%) scaleX(1);
    }
}

@mixin fillOnHover() {
    &:hover {
        fill: url(#socialsGradient);
    }
}

@mixin setMobileStyles {
    @media (max-width: $mobile) {
        @content;
    }
}

@mixin setTabletStyles {
    @media (max-width: $tablet) {
        @content;
    }
}

@mixin setSmallDeskStyles {
    @media (max-width: $desk-small) {
        @content;
    }
}

@mixin setBigTabletStyles {
    @media (max-width: $tablet-big) {
        @content;
    }
}

.container {
    --horizontalPadding: 150px;

    width: 100vw;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--horizontalPadding);
    padding-right: var(--horizontalPadding);

    @include setSmallDeskStyles {
        --horizontalPadding: 80px;
    }

    @include setTabletStyles {
        --horizontalPadding: 40px;
    }

    @include setMobileStyles {
        --horizontalPadding: 15px;
    }
}

@keyframes shine {
    0% {
        background-size: 100% auto;
    }

    70% {
        background-size: 100% auto;
    }

    75% {
        background-size: 400% 200%;
    }
}

:export {
    mobile: $mobile;
    tablet: $tablet;
    desk-small: $desk-small;
}